* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: rgb(108, 128, 96);
}

nav {
    padding: 10px;
    background-color: rgb(146, 173, 131);
    font-size: 22px;
    font-family: 'Berlin Sans FB Demi', sans-serif;
}

#container {
    background-color: rgb(108, 128, 96);
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 800px) {
    #container {
        height: 230px;
    }
}

#pokeProgress {
    height: 25px;
    padding: 10px;
}

#btns {
    padding-top: 20px;
    padding-bottom: 20px;
}

#btns button {
    height: 30px;
    width: 100px;
    border: solid black 1px;
}

#answerContainer {
    height: 26px;
}

#txtStuff {
    margin-top: 15px;
}

input {
    height: 20px;
    width: 200px;
    text-align: center;
    border: solid black 1px;
}

#submit {
    height: 28px;
    width: 50px;
    border: solid black 1px;
}